/* -- PARA EL HEADER --*/
.navbar {
	margin-bottom: 0;
}

/* -- PARA EL JUMBOTRON --*/
.jumbotron {
	background: #D3D3D3;
	padding: 10px 0;
}

.jumbotron h1 {
	font-size: 50px;
	font-weight: 200;
}

/*-- PARA LOS BLOGS --*/