{% extends "base.html" %}
{% block jumbotron %}Nosotros{% endblock %}
{% block subjumbotron %}El subtítulo de la sección de nosotros.{% endblock %}

{% block content %}
    <div id="nosotros-contenido">
        <div id="que-es">
            <h2>¿Qué es Letal Dosis 50 Récords?</h2>
            <p><span class="font-weight-bold">Letal Dosis 50 Récords</span> es una empresa de producción musical para artistas y realizadores audiovisuales. En <span class="font-weight-bold">LD-50</span> hacemos producción musical desde la base hasta la grabación y post producción de sonido en productos audiovisuales. Nuestro propósito es identificar, explotar y llevar a sus mejores dimensiones la identidad sonora de una marca, un artista o de una producción audiovisual.</p>
        </div>
        <br/>
        <div id="mision">
            <h2>Misión</h2>
            <p>Diseñar, a partir del conocimiento de cada cliente, su identidad sonora a través de la composición musical, así como <ins>marcar una nueva pauta</ins> en cuanto a la producción musical en Bogotá a partir del sonido urbano en géneros como el Hip Hop, Trap, Dancehall o el Pop. <ins>Posicionar</ins> nuestros artistas como referentes del género no sólo por la calidad de la composición musical, sino también por la calidad de la producción y la ejecución de proyectos editoriales musicales. Todo a la medida del cliente o, en otras palabras, como un <ins>estudio de grabación boutique</ins>.</p>
        </div>
    </div>
{% endblock %}