{% extends "base.html" %}
{% block jumbotron %}Nosotros{% endblock %}
{% block subjumbotron %}El subtítulo de la sección de nosotros.{% endblock %}

{% block content %}
    <div id="nosotros-contenido">
        <div id="que-es">
            <h2>¿Qué es Letal Dosis 50 Récords?</h2>
            <p><span class="font-weight-bold">Letal Dosis 50 Récords</span> es una empresa de producción musical para artistas y realizadores audiovisuales. En <span class="font-weight-bold">LD-50</span> hacemos producción musical desde la base hasta la grabación y post producción de sonido en productos audiovisuales. Nuestro propósito es identificar, explotar y llevar a sus mejores dimensiones la identidad sonora de una marca, un artista o de una producción audiovisual.</p>
        </div>
        <br/>
        <div id="mision">
            <h2>Misión</h2>
            <p>Diseñar, a partir del conocimiento de cada cliente, su identidad sonora a través de la composición musical, así como <span class="font-weight-bold">marcar una nueva pauta</span> en cuanto a la producción musical en Bogotá a partir del sonido urbano en géneros como el Hip Hop, Trap, Dancehall o el Pop. <span class="font-weight-bold">Posicionar</span> nuestros artistas como referentes del género no sólo por la calidad de la composición musical, sino también por la calidad de la producción y la ejecución de proyectos editoriales musicales. Todo a la medida del cliente o, en otras palabras, como un <span class="font-weight-bold">estudio de grabación boutique</span>.</p>
        </div>
        <br/>
        <div id="vision">
            <h2>Visión</h2>
            <p>Las dinámicas de producción de productos culturales está atravesada hoy en día tanto por el <span class="font-weight-bold">deseo de comunicación</span> de los artistas como por las demandas de la sociedad globalizada, un escenario en el que tanto el artista como el productor, el público, las “nuevas tecnologías” y el mercado tienen un papel igual de importante. Géneros enmarcados en la movida “Pop”, como el mismo Pop, el Trap, el Reguetón, el Hip Hop o el Rock son los espacios sonoros ideales por sus características para explotar la industria musical actual, y en donde LD 5-0 Récords tiene como objetivo hacerse uno de los líderes del mercado.</p>
        </div>
        <br/>
        <div id="infraestructura">
            <h2>Infraestructura</h2>
            <p>Estudio de grabación <span class="font-weight-bold">equipado con</span>:</p>
            <ul>
                <li>Micrófono de condensador de tubo Sputnik Vacuum M-Audio</li>
                <li>Difusor de aislamiento para el micrófono</li>
                <li>Cuarto con tratamiento acústico</li>
                <li>Macbook Pro 2019, seis procesadores Quad core 2,3Ghz, 16 GB RAM equipado con Ableton, Adobe Audition, Cubase, Studio One pro y Final Cut pro</li>
                <li>Monitores Yamaha HS5</li>
                <li>Interfaz de Audio Focusrite Scarlett 2i4 Segunda generación</li>
                <li>Controlador MIDI Alesis V49</li>
                <li>Mixer de 6 entradas Pioneer</li>
                <li>Tornamesa Audiotécnica</li>
                <li>Audífonos profesionales para Monitoreo Shure SHR840</li>
                <li>Pantalla suplente Samsung</li>
                <li>Guitarra acústica Yamaha</li>
                <li>Bajo Cort</li>
                <li>Micrófono Shure SM59</li>
            </ul>
        </div>
    </div>
{% endblock %}