{% extends "base.html" %}
{% block jumbotron %}Nuestro Trabajo{% endblock %}
{% block subjumbotron %}El subtítulo de la sección de nuestro trabajo.{% endblock %}

{% block content %}
    <div id="nuestro-trabajo-cotenido">
        <div id="aviso">
            <p><span class="font-weight-bold">Aviso: En todos los casos debe estar presente un operador de LD-50 Récords por el que se cobra un valor estándar de $20.000 por hora para la manipulación de los equipos</span>.</p>
        </div>
        <div id="produccion">
            <h2>Producción Musical</h2>
            <p><span class="font-weight-bold">Paquete 1</span>: Alquiler del estudio de grabación para sólo captura de voces. Valor hora: $30.000</p>
            <p><span class="font-weight-bold">Paquete 2</span>: Alquiler del estudio de grabación para creación musical (captura de instrumentos y voces). Valor hora: $50.000</p>
            <p><span class="font-weight-bold">Paquete 3</span>: Alquiler del estudio de grabación para creación musical (captura de instrumentos y voces), composición musical por el talento humano de la casa (con mezcla básica) en compañía del artista. Valor hora: $90.000</p>
            <p><span class="font-weight-bold">Beats</span>: Beats a pedido del cliente con todos lo derechos cedidos tras la cancelación del feed del producto. También tenemos beats en venta en las páginas de productores</p>
        </div>
        <div id="publi">
            <h2>Audio Publicitario</h2>
            <p><span class="font-weight-bold">Cuñas radiales</span>: Valor 30 segundos de audio: $320.000</p>
            <p><span class="font-weight-bold">Himnos institucionales</span>: Valor 30 segundos de audio: $450.000</p>
            <p><span class="font-weight-bold">Jingles originales</span>: Valor 30 segundos de audio: $700.000</p>
            <p><span class="font-weight-bold">Locución para TV, Cine, Medios digitales o Videos institucionales</span>: Valor hora (solo para grabación de voces): $40.000. Valor hora con composición banda sonora y grabación de voces: $70.000 pesos hora</p>
            <p><span class="font-weight-bold">Guiones para Cuñas radiales, videos o TV</span>: $80.000</p>
        </div>
    </div>
{% endblock %}